# mac finder file - not part of repository
.DS_Store
# dont commit executablees
*.exe
# aws linux cli installer
AWSCLIV2.pkg
# aws config with keys
config
# keys
alpine.pem
# env
.env
ubuntuPassword.txt
windowsPassword.txt
linuxPassword.txt
adminPassword.txt