# mac finder
.DS_Store
# exe
*.exe
# aws linux cli installer
AWSCLIV2.pkg
# aws config with keys
config
# passwords
adminPassword.txt
# output files
output*
output.txt
outputNetworkSecurityGroupInformation.txt
output-azure-vms.txt
output-network-security-group.txt
output-resource-groups.txt
