# mac finder
.DS_Store
# exe
*.exe
# aws linux cli installer
AWSCLIV2.pkg
# aws config with keys
config
# passwords
adminPassword.txt
# output files
output.txt
outputNetworkSecurityGroupInformation.txt
output-azure_vms.txt