---

---
<div class="l-docs__footer">
  <footer class="p-strip--dark l-docs__subgrid">
    <div class="l-docs__sidebar">
      <p style="padding-left: 1.5rem">© 2023 Your Co</p>
    </div>
    <div class="l-docs__main">
      <nav class="row" aria-label="Footer">
        <div class="has-cookie">
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a class="is-dark" href="#"><small>Legal information</small></a>
            </li>
            <li class="p-inline-list__item">
              <a class="is-dark" href="#"
                ><small>Report a bug on this site</small></a
              >
            </li>
          </ul>
          <span class="u-off-screen"
            ><a href="#">Go to the top of the page</a></span
          >
        </div>
      </nav>
    </div>
  </footer>
</div>
