---

---

<aside class="l-docs__sidebar">
  <nav
    class="p-side-navigation--raw-html is-sticky"
    id="drawer"
    aria-label="Table of contents"
  >
    <div class="u-hide--large p-strip is-shallow">
      <div class="u-fixed-width">
        <a
          href="#drawer"
          class="p-side-navigation__toggle js-drawer-toggle"
          aria-controls="drawer"
        >
          Toggle side navigation
        </a>
      </div>
    </div>

    <div
      class="p-side-navigation__overlay js-drawer-toggle"
      aria-controls="drawer"
    >
    </div>

    <div class="p-side-navigation__drawer">
      <div class="p-side-navigation__drawer-header">
        <a
          href="#"
          class="p-side-navigation__toggle--in-drawer js-drawer-toggle"
          aria-controls="drawer"
        >
          Toggle side navigation
        </a>
      </div>
      <h3>Side navigation</h3>
      <ul>
        <li>
          <a>First page</a>
        </li>
        <li>
          <a href="#">Second page</a>
        </li>
        <li>
          <a href="#">Third page</a>
        </li>
        <li>
          <strong>Sub section</strong>
          <ul>
            <li>
              <a href="#">Second level link</a>
            </li>
            <li>
              <a class="is-active" href="#">Current page</a>
            </li>
            <li>
              <a href="#">Another second level link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Last page</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="#"><strong>Another group</strong></a>
        </li>
        <li>
          <a href="#">First page</a>
        </li>
        <li>
          <a href="#">Second page</a>
        </li>
        <li>
          <a href="#">Third page</a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
