---
import Base from "./Base.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import DocMeta from "../components/DocMeta.astro";
---

<Base>
  <div class="l-docs">
    <Header />
    <Sidebar />
    <div class="l-docs__title" id="main-content">
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-12">
            <h1>Your Co Documentation</h1>
          </div>
        </div>
      </div>
    </div>
    <DocMeta />
    <main class="l-docs__main">
      <div class="row">
        <div class="col-12">
          <h3>Vanilla Framework documentation for this page</h3>

          <ul>
            <li>
              <a href="https://vanillaframework.io/docs/layouts/documentation"
                >documentation</a
              >
            </li>
            <li>
              <a href="https://vanillaframework.io/docs/examples/layouts/docs"
                >example</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Other example layouts from the Vanilla Framework</h3>

          <ul>
            <li>
              <a href="https://vanillaframework.io/docs/examples/brochure/index"
                >brochure page</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/layouts/application/default"
                >application/dashboard</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/templates/vertical-spacing"
                >vertical landing</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/layouts/full-width/no-sidebar"
                >full width</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/layouts/full-width/default"
                >full width with sidebar</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/brochure/hero-50-50"
                >hero 50/50</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/brochure/hero-25-75"
                >hero 25/75</a
              >
            </li>
            <li>
              <a
                href="https://vanillaframework.io/docs/examples/brochure/hero-75-offset"
                >hero offset</a
              >
            </li>
            <li>
              <a href="https://vanillaframework.io/docs/examples"
                >all examples</a
              >
            </li>
          </ul>
          <h3>Notifications</h3>

          <div class="p-notification">
            <p class="p-notification__content">
              Vanilla Framwork 4.0 <a
                href="https://ubuntu.com/blog/vanilla-4-0-release"
                >release announcement</a
              >
            </p>
          </div>
          <div class="p-notification">
            <p class="p-notification__content">
              Vanilla Framwork Github <a
                href="https://github.com/canonical/vanilla-framework/releases/"
                >releases</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</Base>
